[submodule "Event-Bus"]
	path = Event-Bus
	url = https://github.com/CaptainLost/Event-Bus.git
[submodule "Action-System"]
	path = Action-System
	url = https://github.com/CaptainLost/Action-System.git
[submodule "State-Machine"]
	path = State-Machine
	url = https://github.com/CaptainLost/State-Machine
